# shell aliases

##############################
# OS specific aliases

get_os() { hostnamectl | egrep 'System' | cut -d ' ' -f5 }

if [[ "$OSTYPE" = "darwin"* ]]; then
    # MAC OSX
    #echo "Welcome to Mac"
    alias update='brew update && brew upgrade && brew cleanup;'
elif [[ $(get_os) = "Ubuntu" ]]; then
    #echo "Welcome to Ubuntu"
    alias nomore='sudo shutdown -h now'
    alias open='xdg-open'
    alias update='sudo apt update && apt list --upgradable'
    alias upgrade='sudo apt upgrade'
elif [[ $(get_os) = "Arch" ]]; then
    alias update='sudo pacman -Syu'
fi


##############################
# Non-Useless things

# Zip, tar, untar, unzip, gunzip, dipshit
targz()     { tar -zcvf ${1%/}.tar.gz ${1%/}; gzip -lv ${1%/}.tar.gz; } # Standard
tarcheck()  { tar -ztf $1 > /dev/null; } # Verify the tar
targzsafe() { time tar -zcvf ${1%/}.tar.gz ${1%/}; tar -ztf ${1%/}.tar.gz > /dev/null; } # Tar and verify the content
pgzip()     { time tar cvf - $1 | pigz > $1.tar.gz; } # Parallel tar
untargz()   { time tar -zxvf $1 $2;} # Untar

cheat()     { curl cht.sh/$1; } # online man pages
alias glgs="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ad) %C(bold green)(%cr) %C(bold blue)<%an>%Creset' --stat"  # Best git log tree
alias showstat='dstat --cpu --mem --proc --page --disk --top-cpu --top-io --top-mem' # show system perf
alias open_sesame='ssh -v -T -R 43212:localhost:22 mlento@ela1.cscs.ch' # Ali Baba
#alias open_sesame='ssh -TfN -R 43212:localhost:22 mlento@ela1.cscs.ch'
alias publicip='dig +short myip.opendns.com @resolver1.opendns.com'
alias ta='tmux a -t'

##############################
# Useless things (just for fun)

alias meteo='curl v2.wttr.in'
alias please='sudo' # Let's be nicer 
magiccow() { echo 'Yes,Moooo!,Mooost likely,Connot predict cow,Without a doubt,My horses say no,Ask again latte' | tr ',' '\n' | sort -R | head -1 | { cowsay 2> /dev/null || cat; } | { lolcat 2>/dev/null || cat; }; } # Magic Cow answers for all. Works better with cowsay and lolcat.

##############################
# Miscs useful things, thank me later!!

# Convert png files to mp4 movie using avconv/ffmpeg
# avconv -r 1 -start_number 1 -i <filename>_%04d.png -vf scale=1920:-1 <output_filename>.mp4

# Convert using convert
# convert -delay 100 -loop 0 <filenamestart>*.png <output_filename>.gif

# Clone all forks from github
# curl -s "https://api.github.com/users/lento234/repos?page=1&per_page=100&fork=True" |  grep -e 'git_url*' | cut -d \" -f4

# Download file
# wget -e robots=off -r -nc -np -A <filetype1,filetype2,...> <url>

# Some must use commands:
# garbage:      cointop, cash, spt, weather
# productivity: calcurses, mc
# networking:   ping, dig, traceroute, nmap, iftop, arp, speed-test, netstat, nslookup
# system:       htop, glances, screenfetch, neofetch, exa, yank

# Default permissions
# Files: chmod 664 <filename>
# Direc: chmod 775 <dirname>
