# Shell aliases

# Zip, tar, untar, unzip, gunzip, dipshit
targz()     { tar -zcvf ${1%/}.tar.gz ${1%/}; gzip -lv ${1%/}.tar.gz; } # Standard
tarcheck()  { tar -ztf $1 > /dev/null; } # Verify the tar
targzsafe() { time tar -zcvf ${1%/}.tar.gz ${1%/}; tar -ztf ${1%/}.tar.gz > /dev/null; } # Tar and verify the content
pgzip()     { time tar cvf - $1 | pigz > $1.tar.gz; } # Parallel tar
untargz()   { time tar -zxvf $1 $2;} # Untar

# Helper function
cheat()     { curl cht.sh/$1; } # Cool apps

# Aliases

if [[ "$OSTYPE" = "darwin"* ]]; then
    # MAC OSX
    #echo "Welcome to Mac"
    alias update='brew update -v && brew upgrade -v && brew cleanup;'
elif [[ "$(lsb_release -si)" = "Ubuntu" ]]; then
    #echo "Welcome to Ubuntu"
    alias nomore='sudo shutdown -h now'
    alias open='xdg-open'
    alias update='sudo apt update && apt list --upgradable'
    alias upgrade='sudo apt upgrade'
fi

##### Useless things

alias meteo='curl v2.wttr.in'

##### Non-Useless things

alias glgs="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ad) %C(bold green)(%cr) %C(bold blue)<%an>%Creset' --stat"
alias et_phone_home='ssh pandora'

#######  Miscs useful shit, thank me later!

# Convert png files to mp4 movie using avconv/ffmpeg
# avconv -r 1 -start_number 1 -i <filename>_%04d.png -vf scale=1920:-1 <output_filename>.mp4

# Convert using convert
# convert -delay 100 -loop 0 <filenamestart>*.png <output_filename>.gif

# Clone all forks from github
# curl -s "https://api.github.com/users/lento234/repos?page=1&per_page=100&fork=True" |  grep -e 'git_url*' | cut -d \" -f4

# Some must use commands:
# garbage:      cointop, cash, spt, weather
# productivity: calcurses, mc
# networking:   ping, dig, traceroute, nmap, iftop, arp, speed-test
# system:       htop, glances, screenfetch, neofetch, exa, yank

# Default permissions
# Files: chmod 664 <filename>
# Direc: chmod 775 <dirname>


